{
  "presets": [
    "@babel/preset-env",
    ["minify", {
      "keepFnName": false
    }]
  ],
  "plugins": [
    "babel-plugin-transform-es2015-modules-simple-commonjs",
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "minify"
      ]
    }
  },
}
